<div ng-controller="NoticeCtrl" class="notice_container">
    <span ng-class="{notice: notice != null && notice.length > 1}">{{ notice }}</span>
</div>
<div ng-controller="HomeController" >
    <div class="row">
        <div ng-include="'modules/core/views/shared/_toolbar.html'"></div>
        <div ng-include="'modules/core/views/shared/view_modes/_tree_mode.html'"></div>
        <div ng-include="'modules/core/views/shared/view_modes/_table_mode.html'"></div>
        <div ng-include="'modules/core/views/shared/view_modes/_list_mode.html'"></div>
    </div>
</div>
